<div class="m-4">
    <div class="card">
        <div class="card-header">
            <h2>About the Developer</h2>
        </div>
        <div class="card-body">
            <img src="assets/images/Josslyne_At_Aunt_Katherine's_Wedding.jpg" alt="Josslyne at Aunt's Wedding"
                width="60%">
            <h2>Josslyne Shantz</h2>
            <p>She is currently attending Conestoga College for Computer Programming and Analysis.
                She has 3 parents (her mother, father and step-mother), 4 siblings (older sister, 2 younger half
                brothers and a younger half sister)</p>
        </div>
    </div>
</div>
