<div class="m-4">
    <div class="card">
        <div class="card-header">
            <h2>List of Customers</h2>
        </div>
        <div class="card-body">
            <ul class="list-group">
                <li *ngFor="let customer of customers" class="list-group-item">
                    <button class="btn btn-primary me-4 btn-sm" type="button" id="btnModify"
                        name="btnModify"
                        (click)="btnModify_click(customer)">Modify</button>
                        Name: {{customer.firstName}} {{customer.lastName}}
                </li>
            </ul>
        </div>
    </div>
</div>
